.inner {
  max-width: 992px;
}

.right-align {
  float: right;
  text-align: right;
}

.picture-right {
  display: block;
  float: right;
  padding-top: 5px;
  padding-right: 30px;
  padding-bottom: 5px;
  padding-left: 0px;
}

.picture-left {
  display: block;
  float: left;
  padding-top: 5px;
  padding-right: 30px;
  padding-bottom: 5px;
  padding-left: 0px;
}

.picture-small {
  max-width: 40%;
}

.picture-medium {
  max-width: 60%;
}

.picture-large {
  max-width: 80%;
}

img {
  width: 100%;
}
